{% extends "base.html" %}
{% block title %}Quản lý chỉ số điện nước{% endblock %}

{% block content %}

<h3 class="mb-4">Quản lý chỉ số điện nước</h3>

<div class="card p-3 shadow-sm mb-4">

  <!-- Hàng 1 -->
  <div class="row g-3">

    <!-- Tìm cơ sở lưu trú -->
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Tìm nhà...">
    </div>

    <!-- Nhắc thanh toán -->
    <div class="col-md-3">
      <button class="btn btn-info text-primary w-100 d-flex align-items-center justify-content-center">
        <i class="bi bi-bell me-2"></i> Nhắc ghi chỉ số
      </button>
    </div>

  </div>

  <!-- Hàng 2: Sắp xếp -->
  <div class="row g-3 mt-2">
    <div class="col-md-3">
      <select class="form-select">
        <option selected>Sắp xếp theo</option>
        <option value="az">Từ A - Z</option>
        <option value="za">Từ Z - A</option>
      </select>
    </div>
  </div>

</div>


<!-- Bảng quản lý điện nước -->
<div class="card shadow-sm p-3">
  <table class="table table-bordered align-middle">
    <thead class="custom-header">
      <tr>
        <th>Nhà</th>
        <th>Chi phí nước</th>
        <th>Khối nước</th>
        <th>Số điện</th>
        <th>Chức năng</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>22L Quận 7</td>
        <td>300,000₫</td>
        <td>12 m³</td>
        <td>110 kWh</td>
        <td class="text-center">
          <a href="#" class="btn btn-light btn-sm">Xem chi tiết</a>
        </td>
      </tr>

      <tr>
        <td>223 Quận 1</td>
        <td>250,000₫</td>
        <td>10 m³</td>
        <td>95 kWh</td>
        <td class="text-center">
          <a href="#" class="btn btn-light btn-sm">Xem chi tiết</a>
        </td>
      </tr>
    </tbody>

  </table>
</div>


{% endblock %}
