{% extends "base.html" %}
{% block title %}Quản lý dịch vụ khác{% endblock %}

{% block content %}

<h3 class="mb-4">Quản lý dịch vụ khác</h3>

<div class="card p-3 shadow-sm mb-4">

  <!-- Hàng 1 -->
  <div class="row g-3">

    <!-- Tìm kiếm -->
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Tìm cơ sở lưu trú...">
    </div>

  </div>

  <!-- Hàng 2: Sắp xếp theo -->
  <div class="row g-3 mt-2">
    <div class="col-md-3">
      <select class="form-select">
        <option selected>Sắp xếp theo</option>
        <option value="az">Từ A - Z</option>
        <option value="za">Từ Z - A</option>
      </select>
    </div>
  </div>

</div>


<!-- Bảng quản lý điện nước -->
<div class="card shadow-sm p-3">
  <table class="table table-bordered align-middle">
    <thead class="custom-header">
      <tr>
        <th>Nhà</th>
        <th>Giặt ủi</th>
        <th>Vệ sinh</th>
        <th>Internet</th>
        <th>Chức năng</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>22L Quận 7</td>
        <td>30</td>
        <td>7</td>
        <td>100.000</td>
        <td class="text-center">
          <a href="#" class="btn btn-light btn-sm">Xem chi tiết</a>
        </td>
      </tr>

      <tr>
        <td>223 Quận 1</td>
        <td>45</td>
        <td>10</td>
        <td>100.000</td>
        <td class="text-center">
          <a href="#" class="btn btn-light btn-sm">Xem chi tiết</a>
        </td>
      </tr>
    </tbody>

  </table>
</div>

{% endblock %}
